.bilan-title {
    color: var(--texte-sombre);
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    min-height: 200px;
    margin-bottom: 20px;
}